# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build
build/
Build/
build-*/
build_*

# Build related files
CMakeFiles/
*.cmake
CMakeCache.txt
Makefile

# Bin
bin/
Bin/

#Ignore kdev
*.kdev4

#Ignore Testing
test/Testing/
